<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
  <link href=
  "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity=
  "sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
  crossorigin="anonymous" type="text/css">

  <title></title>
</head>

<body>
  <div class="container justify-content-center">
    <div class=
    "jumbotron shadow m-3 p-5 rounded bg-secondary bg-opacity-25">
      <h1 class="display-5">Plots</h1>

      <h3 class="fst-italic display-3">{{ directory }}</h3>
    </div>
  </div>

  <div class="px-4 container justify-content-center">
    <p class="text-center">Documents last generated on {{ time
    }}.</p>

    <div>
      {% for image in images %}

      <div class=
      "g-5 justify-content-center border border-3 border-secondary shadow-lg mt-5">
      <div class="container col-sm-10">
          <h2 class="display-3 text-center">{{ image }}</h2>
        </div>

        <div class="container col-sm-8">
          <img src="{{ image }}" class=
          "shadow p-3 mb-5 img-fluid">
        </div>
      </div>{% endfor %}
    </div>
  </div><script src=
  "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity=
  "sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous" type="text/javascript">
</script>
</body>
</html>
