<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <link href=
  "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity=
  "sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
  crossorigin="anonymous" type="text/css">

  <title></title>
</head>

<body>
  <div class="container">
    <div class="container justify-content-center">
      <div class=
      "jumbotron shadow m-3 p-5 rounded bg-secondary bg-opacity-25">
      <img src="rwth.png" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container justify-content-center">
    <p class="text-center">Documents last generated {{ time }}.</p>

    <div class="text-center m-4">
      <a class="btn btn-light btn-sm" data-toggle="collapse" href=
      "#collapse_stage_status" role="button" aria-expanded="false"
      aria-controls="collapse_stage_status">View Stage Statuses</a>
    </div>

    <div class="collapse" id="collapse_stage_status">
      <div class="card card-body w-50 mx-auto">
        {% for (stage, job), value in stage_status.items() %}

        <p class="text-center"><a href=
        "https://git.rwth-aachen.de/crc1382/crc-proposal-template/-/commits/main">
        <img alt="{{stage}} ({{job}}) status" src=
        "https://img.shields.io/badge/stage%3A%20{{stage}}%20({{job}})-{{value}}"></a></p>{%
        endfor %}
      </div>
    </div>

    <p class="text-center">Visit the <a href=
    "https://git.rwth-aachen.de/crc1382/crc-proposal-template/"
    target="_blank">Repository</a> | <a href=
    "https://git.rwth-aachen.de/crc1382/crc-proposal-template/-/pipeline_schedules"
    target="_blank">Scheduler</a></p>

    <div class="row w-50 mx-auto">
      <div class="p-3 shadow-sm bg-secondary bg-opacity-10">
        <h3 class="text-center">PDF Documents</h3>

        <div class="row">
          <div class="row">
            <a class="btn btn-primary col m-3" href=
            "pdfs/crc-proposal.pdf" role="button">Funding Proposal
            (complete)</a>
          </div>

          <div class="row">
            <a class="btn btn-primary col m-3" href=
            "pdfs/crc-cv.pdf" role="button">Funding Proposal -
            Appendix/CV</a>
          </div>
        </div>
      </div>

      <div class="mt-5 p-3 shadow-sm bg-secondary bg-opacity-10">
        <h3 class="text-center">Plots</h3>

        <div class="row">
          <a class="btn btn-primary col m-3" href=
          "plots/projects.html" role="button">Projects</a>
          <a class="btn btn-primary col m-3" href=
          "plots/publications.html" role="button">Publications</a>
        </div>
      </div>
    </div>
  </div><script src=
  "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity=
  "sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous" type="text/javascript">
</script>
</body>
</html>
